{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident a iusto distinctio neque fugiat quaerat
            nostrum repellat. Sit iusto iure aperiam quidem repellendus sed pariatur enim sint architecto. Facilis,
            modi?
        </p>
    </div>
</div>

{% endblock %}